extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  if config.subtitle
    title= config.title + ' | ' + config.subtitle
  else
    title= config.title
block content

  for post in page.posts.toArray()
    .post
      h2.post-title
        include _partial/helpers
        a(href=url_for(post.path))
          .post-meta= post.date.format(config.date_format)
          +title(post)



  include _partial/paginator
  if theme.disqus
    script(id='dsq-count-scr', src='//#{theme.disqus}.disqus.com/count.js', async)
